<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head.ejs %>
  <style type="text/css">
    .box
    {
      padding: 2%;
      margin-left:2%;
      margin-right: 2%;
      margin-top: 0;
    }

    .input-block
    {
      margin: 1%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 1px solid gray;
    }
  </style>
</head>
<body>
  <main>
    <% include ./navbar-pro.ejs %>
  <div class="box">
    <p class="header"><b>Create a Product</b></p>
    <hr>
    <form class="login-form" action="http://localhost:3000/v1/products/create" method="post">
      <label><b>Product Name :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productName" placeholder="Product Name" autofocus required/>
      </div>
      <label><b>Product Price :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="number" name="productPrice" placeholder="Product Price" autofocus required/>
      </div>
      <label><b>Product Description :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productDescription" placeholder="Product Description" autofocus required/>
      </div>
      <label><b>Product Category :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="productCategory" placeholder="Mention Categories seperated by commas " autofocus required/>
      </div> 
      <label><b>Seller Name :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="sellerName" placeholder="Seller Name" required/>
      </div>
      <label><b>Seller Address :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="sellerAddress" placeholder="Seller Address" autofocus required/>
      </div>
      <label><b>Seller Contact No :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="number" name="sellerContactNumber" placeholder="Contact Number" autofocus required/>
      </div><br>
      <button type="submit" name="submit">Create</button>      
    </form>   
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
