<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head.ejs %>
  <style type="text/css">
    .change-box
    {
      padding: 2%;
      margin-left:2%;
      margin-right: 2%;
      margin-top: 0;
    }

    .input-block
    {
      margin: 1%;
    }

    form div input
    {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button
    {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 1px solid gray;
    }
  </style>

</head>
<body>
  <main>
    <% include ./navbar.ejs %>
  <div class="change-box">
  
    <p class="header"><b>Change Your Password</b></p>
     <hr>
    <form  action=" http://localhost:3000/v1/users/passwordPage" method="post">
      <label><b>Old Password :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="password" name="oldPassword" placeholder="Old Password" autofocus required />
      </div>
      <label><b>New Password :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="password" name="newPassword" placeholder="New Password" required/>
      </div>
      <label><b>Retype New Password :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="password" name="reNewPassword" placeholder="Retype New Password" required/>
      </div>      <br>
      <button type="submit" name="submit">Change Password</button>
      
    </form>
    </a></p>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
