
<div class="footer">
  <p style="text-align:center;">  
    <a href="mailto:unnatidave11@gmail.com" style="padding-right: 2%;">
        <i class="fa fa-envelope-o"></i> 
    </a>
    <a href="https://github.com/UNNATIDAVE" target= "_blank" style="padding-right: 2%;">
        <i class="fa fa-github"></i>  
    </a>
    <a href="https://www.linkedin.com/in/unnati-dave-69b74787/" target="_blank">
        <i class="fa fa-linkedin"></i>
    </a>
  </p>
  <p style="text-align:center;">Copyright &copy E-commerce API by unnatidave</p>
</div>


