<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./head.ejs %>
  <style type="text/css">
   .box {
      padding: 2%;
      margin-left:20%;
      margin-right: 20%;
      margin-top: 0;
    }

    .input-block {
      margin: 1%;
    }

    form div input {
      width: 100%;
      margin: 0 !important;
      padding: 2%;
    }

    button {
      width: 30%;
      margin-left: 35%;
      margin-right: 35%;
      padding: 2%;
      background-color: transparent;
      border-radius: 12px;
      border: 2px solid gray;
    }
     .link{
      text-align: center;
      font-size: 1.5em;
    }
  </style>
</head>
<body >
  <main>
  <div class="box">
    
    <p class="header"><b>Password Recovery </b></p>
    <hr>
    <form class="login-form" action="http://localhost:3000/v1/users/recoverPass" method="post">
      <label><b>Email Id :*</b></label></br>
      <div class="input-block">
        <input class="input-box" autocomplete="off" type="text" name="email" placeholder="Email ID" autofocus required/> <br> <br><br><br>
      <button type="submit" name="submit">Recover</button><br>
      
    </form>
    <p class="link"> <a class="align" href ="http://localhost:3000/v1/users/loginPage" ><b>Log in</b></a></p>
    <p class="link"> <a href ="http://localhost:3000/v1/users/signupPage" ><b>Signup</b></a></p><br>
  </div>
  </main>
  <% include ./footer.ejs %>
</body>
</html>
