<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
  
    .dashboard-box
    {
      padding: 3%;
      margin-left:20%;
      margin-right: 20%;
      margin-top: 0;
    }  
    a{
      margin-right: 2%;
      font-size: 1em;
    }
  </style>
</head>
<body>
  <main>
  <div class="dashboard-box">
    <a href ="http://localhost:3000/v1/products/all/item">All Products</a>
    <a href ="http://localhost:3000/v1/products/createPage">Create Products</a>
    <a href ="http://localhost:3000/v1/products/Delete/pro">Delete Products</a>
      <hr>
</body>
</html>
