<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
  
    .dashboard-box
    {
      padding: 3%;
      margin-left:20%;
      margin-right: 20%;
      margin-top: 0;
    }  
    a{
      margin-right: 2%;
      font-size: 1em;
    }
  </style>
</head>
<body>
  <main>
  <div class="dashboard-box">
    <a href ="http://localhost:3000/v1/users/dashboard">Home</a>
    <a href ="http://localhost:3000/v1/users/cart">Cart</a>
    <a href ="http://localhost:3000/v1/users/addToCart">Add product to Cart</a>
    <a href ="http://localhost:3000/v1/users/removeFromCart"> Remove Products From Cart</a>
    <a href ="http://localhost:3000/v1/users/changePassword">Change Password</a>
    <a href ="http://localhost:3000/v1/users/logout">Logout</a>
       <hr>
</body>
</html>
